* {
    padding:                     0;
    margin:                      0;
}
@font-face {
    font-family: "RobotoMono";
    src: url("RobotoMono-Light.ttf") format("woff");
  }
  
body {
    font-family:                 RobotoMono, monospace;
    font-size:                   14px;
    color:                       #c8cfd8;
    background:                  #343944;
    margin:                      auto;
    padding-top:                 60px;
    line-height:                 1.3em;
}
a {
    color:                       #5294e2;
}
b{
    color:                       #6a9e41;
}
.window {
    background:                  #404552;
    box-shadow:                  0 0 10px rgba(0,0,0,0.5);
    border-radius:               5px;
    border:                      2px solid #2e333f;
    width:                       480px;
    margin:                      auto;

}
.window_header {
    background:                  #2e333f;
    color:                       #c8cfd8;
    padding:                     7px;

}
.window_title {
    display:                     inline-block;
}
.window_minimize_button, .window_maximize_button, .window_close_button {
    border-radius:               7px;
    width:                       12px;
    height:                      12px;
    display:                     inline-block;
    float:                       right;
    margin-left:                 6px;
}
.window_minimize_button {
    background:                  #2cc640;
    border:                      1px solid #51a75c;
  
}
.window_maximize_button {
    background:                  #fdbf2e;
    border:                      1px solid #d6a839;  
} 
.window_close_button {
    background:                  #fe6256;
    border:                      1px solid #ca5f59;  
}
.window_content {
    padding:                     7px;
} 
.blink {
    animation:                   blinking 1s infinite;
}
@keyframes blinking {
    0% { clear:                  both; }
    50%{ color:                  transparent; }    
}
